@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.mainContainer {
    height: 100vh;
    width: 100vw;
    background-color: #89C15E;
}

.mainContainer>.scoreCard {
    margin: 20px 25%;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #fff;
    position: absolute;
    border-radius: 10px;
}

.mainContainer>.scoreCard>.name {
    width: 10%;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}

.mainContainer>.scoreCard>.scoreBox {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.mainContainer>.scoreCard>.scoreBox>.box {
    width: 40%;
    background-color: #fff;
    color: #000;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.mainContainer>.scoreCard>.scoreBox>.box>p {
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1em;
}

.mainContainer>.scoreCard>.scoreBox>.box>h1 {
    font-family: Roboto;
    font-size: 68px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.mainContainer > #game{
    position: fixed;
    top: 45%;
    left: 45%;
    /* display: none; */
}

.mainContainer > #game > .line {
    width: 10px;
    height: 100px;
    background-color: #000000a8;
    position: absolute;
}

.mainContainer > #game > .line1{
    right: 50px;
    top: 30px;
    height: 210px;
    transform: rotate(-35deg);
    transform-origin: 0px;
}

.mainContainer > #game > .line2{
    left: 110px;
    top: 50px;
    height: 210px;
    transform: rotate(37deg);
    transform-origin: 0px;
}

.mainContainer > #game > .line3{
    bottom: -153px;
    height: 220px;
    left: 40px;
    transform: rotate(90deg);
    transform-origin: 0px;
    z-index: 1;
}

.mainContainer > #game > .rock{
    position: absolute;
    right: 50px;
    border: 10px solid rgb(22, 230, 195);
    z-index: 2;
}

.mainContainer > #game .rock, .scissor, .paper {
    padding: 10px;
    border-radius: 100%;
    background-color: #fff;
}

.mainContainer > #game > div > img {
    width: 60px;
    height: 55px;
}

.mainContainer > #game > .scissor{
    position: absolute;
    left: 135px;
    border: 10px solid rgb(192, 25, 226);
    z-index: 2;
}

.mainContainer > #game > .paper{
    position: absolute;
    top: 200px;
    left: -15px;
    border: 10px solid rgb(7, 189, 22);
}

.play {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: absolute;
    top: 60%;
    left: 26%;
    display: none;
}


@keyframes winRoundAnime {
    2%{
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.6);
        transition: 0.2s ease-in-out;
    }
    8%{
        box-shadow: 
        0 0 0 10px rgba(0, 0, 0, 0.6),
        0 0 0 20px rgba(0, 0, 0, 0.5);
        transition: 0.2s ease-in-out;
    }
    16%{
        box-shadow: 
        0 0 0 10px rgba(0, 0, 0, 0.6),
        0 0 0 20px rgba(0, 0, 0, 0.5),
        0 0 0 30px rgba(0, 0, 0, 0.4);
        transition: 0.2s ease-in-out;
    }
    24%{
        box-shadow:
        0 0 0 10px rgba(0, 0, 0, 0.6),
        0 0 0 20px rgba(0, 0, 0, 0.5),
        0 0 0 30px rgba(0, 0, 0, 0.4),
        0 0 0 45px rgba(0, 0, 0, 0.3);
        transition: 0.2s ease-in-out;
    }
    32%{
        box-shadow:
        0 0 0 10px rgba(0, 0, 0, 0.6),
        0 0 0 20px rgba(0, 0, 0, 0.5),
        0 0 0 30px rgba(0, 0, 0, 0.4),
        0 0 0 45px rgba(0, 0, 0, 0.3),
        0 0 0 60px rgba(0, 0, 0, 0.2);
        transition: 0.2s ease-in-out;
    }
    40%{
        box-shadow:
        0 0 0 10px rgba(0, 0, 0, 0.6),
        0 0 0 20px rgba(0, 0, 0, 0.5),
        0 0 0 30px rgba(0, 0, 0, 0.4),
        0 0 0 45px rgba(0, 0, 0, 0.3),
        0 0 0 60px rgba(0, 0, 0, 0.2),
        0 0 0 80px rgba(0, 0, 0, 0.1);
        transition: 0.2s ease-in-out;
    }
    100%{
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.6);
        transition: 0.2s ease-in-out;
    }
    87%{
        box-shadow: 
        0 0 0 10px rgba(0, 0, 0, 0.6),
        0 0 0 20px rgba(0, 0, 0, 0.5);
        transition: 0.2s ease-in-out;
    }
    75%{
        box-shadow: 
        0 0 0 10px rgba(0, 0, 0, 0.6),
        0 0 0 20px rgba(0, 0, 0, 0.5),
        0 0 0 30px rgba(0, 0, 0, 0.4);
        transition: 0.2s ease-in-out;
    }
    67%{
        box-shadow:
        0 0 0 10px rgba(0, 0, 0, 0.6),
        0 0 0 20px rgba(0, 0, 0, 0.5),
        0 0 0 30px rgba(0, 0, 0, 0.4),
        0 0 0 40px rgba(0, 0, 0, 0.3);
        transition: 0.2s ease-in-out;
    }
    58%{
        box-shadow:
        0 0 0 10px rgba(0, 0, 0, 0.6),
        0 0 0 20px rgba(0, 0, 0, 0.5),
        0 0 0 30px rgba(0, 0, 0, 0.4),
        0 0 0 45px rgba(0, 0, 0, 0.3),
        0 0 0 60px rgba(0, 0, 0, 0.2);
        transition: 0.2s ease-in-out;
    }
    49%{
        box-shadow:
        0 0 0 10px rgba(0, 0, 0, 0.6),
        0 0 0 20px rgba(0, 0, 0, 0.5),
        0 0 0 30px rgba(0, 0, 0, 0.4),
        0 0 0 45px rgba(0, 0, 0, 0.3),
        0 0 0 60px rgba(0, 0, 0, 0.2),
        0 0 0 80px rgba(0, 0, 0, 0.1);
        transition: 0.2s ease-in-out;
    }
}


.play > div > img {
    padding: 20px;
    height: 120px;
    width: 120px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    border: 10px solid red;
    animation: winRoundAnime 1s ease 0.5ms infinite normal none;
    /* animation: none; */
}


.play > #text {
    margin-top: 30px;
}
.play > #text h2, h3 {
    font-family: Roboto;
    font-size: 39px;
    font-weight: 1000;
    line-height: 46px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;    
    text-transform: uppercase;
}

.play > #text h3{
    font-size: 25px;
    font-weight: 700;
}

.play > #text button{
    width: 90%;
    padding: 10px;
    text-align: center;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.play > #text a {
    text-decoration: none;
}

.play > #text #next {
    display: none;
}

.play > .icon > p{
    font-family: Roboto;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;    
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.rules {
    width: 20%;
    position: absolute;
    right: 30px;
    bottom: 80px;
}

.rules > #rulesBox {
    width: 100%;
    height: 50vh;
    padding: 20px;
    border: 5px solid #fff;
    background-color: #022406;
    border-radius: 10px;
    display: none;
}

.rules > #rulesBox > h1 {
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    font-family: Roboto;
    color: #fff;
    margin-bottom: 5px;
}

.rules > #rulesBox > ul > li {
    font-size: 12px;
    color: #fff;
    font-family: Roboto;
    line-height: 20px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    margin-left: 10px;
}

.rules > #rulesBox > ul > #closeIcon {
    position: absolute;
    right: -15px;
    top: -15px;
    height: 35px;
    width: 35px;
    background-color: red;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    font-family: Roboto;
    font-weight: 700;
    cursor: pointer;
}

.rules > .sideButtons {
    position: absolute;
    bottom: -60px;
    right: -15px;
}

.rules > .sideButtons button {
    padding: 5px 30px;
    border: 2px solid #fff;
    color: #fff;
    font-family: Roboto;
    text-align: center;
    background: transparent;
    border-radius: 5px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.rules > .sideButtons #next {
    display: none;
}